{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <p>Hi there, my name is Bad Ass and I'm a software developer based in Kyiv. I hold a degree in computer science from Kyiv Politechnic Institute, and I specialize in Python, NoSQL databases, and web development using HTML and CSS.</p>

        <p>With several years of experience in the software development industry, I have developed a strong passion for creating efficient, scalable, and secure software solutions that help businesses achieve their goals. I take a user-centered approach to my work, ensuring that the end product meets the needs and expectations of its intended audience.</p>

        <p>My expertise in Python allows me to build powerful backend systems that can handle complex data structures and algorithms, while my proficiency in NoSQL databases enables me to design and manage databases that are optimized for performance and scalability. In addition, my skills in HTML and CSS allow me to create elegant and intuitive user interfaces that deliver a great user experience.</p>

        <p>I am always eager to take on new challenges and to collaborate with others on interesting projects. So, if you're in need of a skilled and dedicated software developer, please don't hesitate to get in touch. Let's work together to bring your ideas to life!</p>
    </main>
{% endblock  %}