{% extends "base.html" %}

{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:ngardamala@gmail.com">
                        ngardamala [at] gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/ngardamala">
                        @ngardamala
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Facebook:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.facebook.com/MykolaGardamala">
                        Mykola Gardamala
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock  %}